@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020817;
  --foreground: rgb(255 255 255 / 0.87);
}

body {
  color: var(--foreground);
  background: var(--background);
}

.professional-gradient {
  background: 
    radial-gradient(circle at top left, rgb(29, 78, 216) 0%, transparent 80%),
    radial-gradient(circle at 80% 20%, rgb(23, 37, 84) 0%, transparent 50%),
    radial-gradient(at bottom left, rgb(17, 24, 39), transparent),
    rgb(2, 6, 23);
}

.professional-gradient-light {
  background: 
    radial-gradient(circle at top left, rgb(37, 99, 235) 0%, transparent 80%),
    radial-gradient(circle at 80% 20%, rgb(30, 58, 138) 0%, transparent 50%),
    radial-gradient(at bottom left, rgb(30, 41, 59), transparent),
    rgb(15, 23, 42);
}

.water-effect {
  background: linear-gradient(
    45deg,
    rgb(97, 205, 187) 0%,
    rgb(97, 205, 187, 0.8) 100%
  );
}

/* Add a shine effect on hover */
.water-effect:hover {
  background: linear-gradient(
    45deg,
    rgb(97, 205, 187, 0.9) 0%,
    rgb(97, 205, 187) 50%,
    rgb(97, 205, 187, 0.9) 100%
  );
}

.pirate-font {
  font-family: 'Georgia', serif;
  font-style: italic;
}
